Source: cl-lml2
Section: lisp
Priority: optional
Maintainer: António P. P. Almeida <appa@perusio.net>
Build-Depends-Indep: dh-lisp
Build-Depends: debhelper (>> 7.0.0)
Standards-Version: 3.8.3.0
Homepage: http://lml2.b9.com/
Vcs-Git: git://github.com/perusio/lml2-html5.git
Vcs-Browser: https://github.com/perusio/lml2-html5

Package: cl-lml2
Architecture: all
Depends: ${misc:Depends}, cl-kmrcl
Description: Lisp Markup Language
 LML2 provides a markup language for generation XHTML web pages.
 .
 The usage of LML2 is incompatible with the original LML version. However,
 the two versions may be used along side each other.
 .
 This is a fork the original LML2 that supports HTML5 elements.
