Source: cl-lml2
Section: lisp
Priority: optional
Maintainer: Kevin M. Rosenberg <kmr@debian.org>
Build-Depends-Indep: dh-lisp
Build-Depends: debhelper (>> 7.0.0)
Standards-Version: 3.8.3.0
Homepage: http://lml2.b9.com/
Vcs-Git: git://git.b9.com/lml2.git
Vcs-Browser: http://git.b9.com/?p=lml2.git

Package: cl-lml2
Architecture: all
Depends: ${misc:Depends}, cl-kmrcl
Description: Lisp Markup Language
 LML2 provides a markup language for generation XHTML web pages.
 .
 The usage of LML2 is incompatible with the original LML version. However,
 the two versions may be used along side each other.
