#!/usr/bin/make -f

pkg		:= lml2
debpkg  	:= cl-lml2

clc-source	:= usr/share/common-lisp/source
clc-systems	:= usr/share/common-lisp/systems
clc-files	:= $(clc-source)/$(pkg)


build:

clean:
	dh_testdir
	dh_testroot
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	dh_install lml2.asd lml2-tests.asd $(clc-files)
	dh_install *.lisp $(clc-files)

binary-arch:

binary-indep: install
	dh_testdir
	dh_testroot
	dh_installdocs doc/readme.html
	dh_installexamples doc/Makefile doc/make.lisp doc/*.lml
	dh_installchangelogs
	dh_lisp
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep


.PHONY: build clean binary-arch binary-indep binary install
